/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

/* Springy easing function */
/* linear(0, 0.01 0.7%, 0.044 1.5%, 0.184 3.2%, 0.375 4.8%, 0.932 8.9%, 1.182 11.2%, 1.269 12.3%, 1.329 13.3%, 1.368 14.3%, 1.39 15.4%, 1.386 16.9%, 1.346 18.5%, 1.269 20.3%, 1.045 24.5%, 0.95 26.6%, 0.877 29%, 0.847 31.3%, 0.848 32.8%, 0.863 34.4%, 1.018 42.5%, 1.047 44.8%, 1.06 47.1%, 1.054 50.4%, 0.993 58.4%, 0.977 62.8%, 0.979 66.3%, 1.009 78.6%, 1) */

body {
  background-color: #000;
  background-image: url("spacebg.gif");
  color: #fff;
  font-family: Verdana;
  overflow: hidden;
}

.name {
  font-size: 80pt;
  transform: scaleY(1.3);
  display: block;
  margin: 0 auto;
  width: fit-content;
  cursor: default;
  transition: 0.8s linear(0, 0.01 0.7%, 0.044 1.5%, 0.184 3.2%, 0.375 4.8%, 0.932 8.9%, 1.182 11.2%, 1.269 12.3%, 1.329 13.3%, 1.368 14.3%, 1.39 15.4%, 1.386 16.9%, 1.346 18.5%, 1.269 20.3%, 1.045 24.5%, 0.95 26.6%, 0.877 29%, 0.847 31.3%, 0.848 32.8%, 0.863 34.4%, 1.018 42.5%, 1.047 44.8%, 1.06 47.1%, 1.054 50.4%, 0.993 58.4%, 0.977 62.8%, 0.979 66.3%, 1.009 78.6%, 1);
}

.name:hover {
  transform: scaleY(2.3) scaleX(2);
}

.leo {
  color: rebeccapurple;
  font-style: oblique;
  font-weight: bold;
}

.x86 {
  color: orange;
}

main {
  text-align: center;
}

a.hyper {
  display: inline-block;
  color: orange;
  text-decoration: none;
  transition: 0.4s linear(0, 0.01 0.7%, 0.044 1.5%, 0.184 3.2%, 0.375 4.8%, 0.932 8.9%, 1.182 11.2%, 1.269 12.3%, 1.329 13.3%, 1.368 14.3%, 1.39 15.4%, 1.386 16.9%, 1.346 18.5%, 1.269 20.3%, 1.045 24.5%, 0.95 26.6%, 0.877 29%, 0.847 31.3%, 0.848 32.8%, 0.863 34.4%, 1.018 42.5%, 1.047 44.8%, 1.06 47.1%, 1.054 50.4%, 0.993 58.4%, 0.977 62.8%, 0.979 66.3%, 1.009 78.6%, 1);
    cursor: default;
}

a.hyper:hover {
  transform: scaleX(1.15) scaleY(1.5);
}

ul .active {
  font-weight: bold;
}

ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
  border-radius: 1.3em;
  width: fit-content;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 24px;
  text-decoration: none;
  transition: 0.5s linear(0, 0.01 0.7%, 0.044 1.5%, 0.184 3.2%, 0.375 4.8%, 0.932 8.9%, 1.182 11.2%, 1.269 12.3%, 1.329 13.3%, 1.368 14.3%, 1.39 15.4%, 1.386 16.9%, 1.346 18.5%, 1.269 20.3%, 1.045 24.5%, 0.95 26.6%, 0.877 29%, 0.847 31.3%, 0.848 32.8%, 0.863 34.4%, 1.018 42.5%, 1.047 44.8%, 1.06 47.1%, 1.054 50.4%, 0.993 58.4%, 0.977 62.8%, 0.979 66.3%, 1.009 78.6%, 1);
}

ul li a:hover {
  transform: scale(1.4);
}

.neocities {
  transition: 0.5s linear(0, 0.01 0.7%, 0.044 1.5%, 0.184 3.2%, 0.375 4.8%, 0.932 8.9%, 1.182 11.2%, 1.269 12.3%, 1.329 13.3%, 1.368 14.3%, 1.39 15.4%, 1.386 16.9%, 1.346 18.5%, 1.269 20.3%, 1.045 24.5%, 0.95 26.6%, 0.877 29%, 0.847 31.3%, 0.848 32.8%, 0.863 34.4%, 1.018 42.5%, 1.047 44.8%, 1.06 47.1%, 1.054 50.4%, 0.993 58.4%, 0.977 62.8%, 0.979 66.3%, 1.009 78.6%, 1);
}

.neocities:hover {
  transform: scale(1.2);
}

@media only screen and (max-width: 900px) {
  .name:hover {
    transform: scaleY(1.6) scaleX(1.3);
  }
}

@media only screen and (max-width: 560px) {
  .name:hover {
    transform: scaleY(1.3) scaleX(1);
  }
}

@media only screen and (max-width: 430px) {
  .name {
    font-size: 25vw;
  }
}

@media (hover: none) {
  .name:hover {
    transform: none;
  }
  .neocities:hover {
    transform: none;
  }
  ul li a:hover {
    transform: none;
  }
  ul li a {
    padding: 24px 48px;
  }
  ul {
    border-radius: 2em;
    font-size: 17pt;
  }
  a:hover {
    transform: none;
  }
}

@media (prefers-reduced-motion) {
  .neocities {
    transition: 0.2s linear;
  }
  ul li a {
    transition: 0.2s linear;
  }
  .name {
    transition: 0.5s linear;
  }
  a.hyper {
    transition: 0.2s linear;
  }
}

@media (hover: none) and (prefers-reduced-motion) {
  .neocities {
    transition: none;
  }
  ul li a {
    transition: none;
  }
  .name {
    transition: none;
  }
}